div {
    height: 480px;
}
.one {
	border: 1px solid #cccccc;
	display: flex;
    flex-direction: row;
   justify-content: space-around;
}

.two {
	background: linear-gradient(to right, #33ff33, #e6ffe6);
	margin-top: 50px;
	width: 350px;
	height: 250px;
}

.car {
	background: linear-gradient(to right, #ffff00, #ffffe6);
	margin-top: 50px;
	width: 350px;
	height: 250px;
}

.apple {
	background: linear-gradient(to right, #ff0000, #ffe6e6);
	margin-top: 50px;
	width: 350px;
	height: 250px;
}

.banana {
	background: linear-gradient(to right, #0000ff, #e6e6ff);
	margin-top: 50px;
	width: 350px;
	height: 250px;
}
img